*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aboutus_hero_section{
    background-color: rgb(180, 180, 180);
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus_hero_section h1{
    font-size: 80px;
}
