:root {
    /* color palette */
    --primary-color: #b300ff;
    --secondary-color: #00cfff;
    --oklab-primary-color: color-mix(in oklab, #b300ff 90%, white);
    --oklab-secondary-color: color-mix(in oklab, #00cfff 90%, white);

    /* text colors */
    --text-title-color: white;
    --text-color: color-mix(in oklab, white 60%, transparent);
    --trion-colors: linear-gradient(to right, var(--oklab-secondary-color), var(--oklab-primary-color), var(--oklab-secondary-color));

    /* bg colors */
    --bg-color: #0d0d0d;
    --header-bg-color: #14141eb3;
    --cards-bg-color: #14141eb3;

    /* border and glow colors */
    --border-color: #00cfff33;
    --btn-glow: 0 0 10px #00cfff80, 0 0 20px #00cfff4d, 0 0 30px #00cfff33;
    --title-glow: 0 0 10px #00cfffcc, 0 0 20px #00cfff80, 0 0 30px #00cfff4d;
    --rank-glow: 0 0 10px #b300ff80, 0 0 20px #b300ff4d, 0 0 30px #b300ff33;

    /* button colors */
    --primary-btn-color: linear-gradient(to right, var(--oklab-secondary-color), var(--oklab-primary-color));
    --secondary-btn-color: var(--secondary-color);

    /* sizes */
    --g-font-size: 10px;
    --def-font-size: 1.6rem;
    --def-gap: 1.6rem;
    --hero-font-size: 2.4rem;
    --hero-gap: 2.4rem;
    --def-btn-padding: 1.2rem;
    --horizontal-padding: 0 3.2rem;
    --border-radius: 0.8rem;
    --icons-dim: calc(var(--hero-font-size)*2 - 1rem);
    --icons-font-size: calc(var(--hero-font-size) - 0.5rem);
    --rem4-8: 4.8rem;

    /* font-family */
    --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* to be continued */
}

/* global font */
html {
    font-size: var(--g-font-size);
    font-family: var(--font-family);
}

/* global color and display */
body {
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

#contact-section {
    padding: var(--horizontal-padding);
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid var(--border-color);
}

.contact-section__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--rem4-8);
    background-color: var(--cards-bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--def-font-size);
}

.contact-section__card__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--def-gap);
    flex-wrap: wrap;
    width: 70rem;
}

/* .contact-section__card i {
    font-size: var(--rem4-8);
    color: var(--secondary-color);
} */

.text--gradient3c {
    background: var(--trion-colors);
    background-clip: text;
    color: transparent;
    font-weight: inherit;
    width: 100%;
}